
.outer_container{
  /* background: #224941; */
   color: #fff;
   font-family: 'Montserrat', sans-serif;
   min-height: 100vh;
   overflow: hidden;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   margin: 0;
 }

 span[data-descr]{
   font-size: xx-large;
   color:blue;
 }
 span[data-descr]:hover::after,
 span[data-descr]:focus::after{
   font-size: xx-large;
   color:rgb(255, 0, 0);
   content:attr(data-descr);
 }
 /* .round {
  font-size: xxx-large;
  color: red;
  font-weight: 900;
} */
   .container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    height:300px;
    width: 300px;
    position: relative;
    transform: scale(1);
  }

  .text{
    padding-top: 30px;
    font-size: -webkit-xxx-large;
  }

  .circle {
    background-color: rgba(24, 139, 189, 0);
    height: 100%;
    width: 100%;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: background-color 4s ease-in-out;
  }
  .circle.in{

    background-color: rgba(24, 139, 189, 1);
  }

  .circle.hold{
    background-color: rgba(24, 139, 189, 1);

  }

  .circle.out{
    background-color: rgba(24, 139, 189, 0);
  }
  .circle.holdout{
    background-color: rgba(24, 139, 189, 0);

  }
  /* .gradient-circle {
    background: conic-gradient(
      rgb(7, 92, 129) 0%,
      rgb(7, 92, 129) 100%
    );
    height: 320px;
    width: 320px;
    z-index: -2;
    border-radius: 50%;
    position: absolute;
    top: -10px;
    left: -10px;
  } */


  .gradient-circle {
    height: 320px;
    width: 320px;
    z-index: -2;
    border-radius: 50%;
    position: absolute;
    top: -10px;
    left: -10px;
    background-color: rgba(0, 0, 0, 0);
    border: 10px white solid;
    /* transition: border 4s ease-in-out; */
}
.gradient-circle.thin{
  animation: thinner 4s cubic-bezier(0.65, 0.05, 0.36, 1) forwards;
}
  /* .pointer {
    background-color: #fff;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    display: block;
  }

  .pointer-container {
    position: absolute;
    top: -40px;
    left: 140px;
    width: 20px;
    height: 190px;
    animation: rotate 16s linear forwards infinite;
    transform-origin: bottom center;
  } */

  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  @keyframes thinner {
    from {
      border: 10px;
    }
    to {
      border: 2px;
    }
  }

  .container.grow {
     animation: grow 4s cubic-bezier(0.65, 0.05, 0.36, 1) forwards;

  }

  @keyframes grow {
    from {
      transform: scale(1);
    }

    to {
      transform: scale(3);
    }
  }

  .container.shrink {
    animation: shrink 4s cubic-bezier(0.65, 0.05, 0.36, 1) forwards;

  }

  @keyframes shrink {
    from {
      transform: scale(3);
    }

    to {
      transform: scale(1);
    }
  }

  .counter{
    font-size: -webkit-xxx-large;
  }