@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
.outer_container{
  /* background: #224941; */
  color: #7F6C72;
   font-family: 'Lato', sans-serif;
   min-height: 100vh;
   overflow: hidden;
   display: grid;
   grid-template-columns: repeat(3,1fr);
   grid-template-rows: repeat(3,1fr);
   flex-direction: column;
   align-items: center;
   justify-content: center;
   margin: 0;
 }
 .round-container {
  display: flex;
  grid-area:2/2/3/3;
  justify-content: center;
  margin-top:200px;
  z-index: 1;

}
.dot {
  height: 16px;
  width: 16px;
  border: 2px solid #7F6C72;
  border-radius: 50%;
  display: inline-block;
  margin-right: 4px;
  margin-left:4px;
  z-index: 1;
}

.dot.completed{
  background: #7F6C72;
}

   .container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    height:100px;
    width: 100px;
    position: relative;
    transform: scale(1);
    grid-area:2/2/3/3;
  }

  .text{
    letter-spacing: 0.05em;
    text-transform: uppercase;
    font-family: 'Lato' sans-serif;
    font-size: 36px;
    line-height: 43px;
    z-index: 1;
    grid-area:2/2/3/3;
    text-align: center;
  }

  .circle {
    background-color:rgba(255, 255, 255, 0.85);
    height: 100%;
    width: 100%;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: background-color 4s ease-in-out;
  }
  .circle.in{

    background-color: rgba(24, 139, 189, 1);
  }

  .circle.hold{
    background-color: rgba(24, 139, 189, 1);

  }

  .circle.out{
    background-color: rgba(24, 139, 189, 0);
  }
  .circle.holdout{
    background-color: rgba(24, 139, 189, 0);

  }


  .gradient-circle {
    height: 120px;
    width: 120px;
    z-index: -2;
    border-radius: 50%;
    position: absolute;
    top: -10px;
    left: -10px;
    background-color:rgba(255, 255, 255, 0.4);
    /* border: 10px rgba(255, 255, 255, 0.626) solid; */

    /* transition: border 4s ease-in-out; */
}



  .container.grow {
     animation: grow 4s cubic-bezier(0.65, 0.05, 0.36, 1) forwards;

  }

  @keyframes grow {
    from {
      transform: scale(1);
    }

    to {
      transform: scale(12);
    }
  }

  .container.shrink {
    animation: shrink 4s cubic-bezier(0.65, 0.05, 0.36, 1) forwards;

  }

  @keyframes shrink {
    from {
      transform: scale(12);
    }

    to {
      transform: scale(1);
    }
  }

  .counter{
    font-size: -webkit-xxx-large;
  }