.outer_container_five {
    height: 100vh;
}

.text_five{
font-size: x-large;
}
.container_five {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    height: 300px;
    width: 300px;
    position: relative;
    transform: scale(1);
}

.circle_five {
    background-color: #010f1c;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    -webkit-transition: background-color 5.5s ease-in-out;
  -moz-transition: background-color 5.5s ease-in-out;
  -o-transition: background-color 5.5s ease-in-out;
  transition: background-color 5.5s ease-in-out;
}
.gradient-circle_five {
  height: 320px;
  width: 320px;
  z-index: -2;
  border-radius: 50%;
  position: absolute;
  top: -10px;
  left: -10px;
  background-color: rgba(0, 0, 0, 0);
  border: 10px rgba(255, 255, 255, 0.626) solid;
}

.round-container_5 {
  display: flex;
  /* margin-bottom: 184px; */

}
.dot_5 {
  height: 25px;
  width: 25px;
  background-color: rgb(251, 247, 247);
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
  color:black;
}

.dot_5.completed_5{
  background-color: rgb(4, 255, 0);
}

  .circle_five.in {
    background-color: #135d07
  }


  .circle_five.out{
    background-color: rgb(240, 242, 240);
  }



  .container_five.grow{
    animation: grow5 5.5s cubic-bezier(0.65, 0.05, 0.36, 1) forwards;

  }


  @keyframes grow5 {
    from {
      transform: scale(1);
    }

    to {
      transform: scale(4);
    }
  }


  .container_five.shrink{
    animation: shrink5 5.5s cubic-bezier(0.65, 0.05, 0.36, 1) forwards;
  }

  @keyframes shrink5 {
    from {
      transform: scale(4);
    }

    to {
      transform: scale(1);
    }
  }
  .counter_5{
    font-size: larger;
  }