.outer_container_five {
  color: #7F6C72;
  font-family: 'Lato', sans-serif;
  min-height: 100vh;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(3,1fr);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
}
.round-container_5 {
  display: flex;
  grid-area:2/2/3/3;
  justify-content: center;
  margin-top:200px;
  z-index: 1;

}

.dot_5 {
  height: 16px;
  width: 16px;
  border: 2px solid #7F6C72;
  border-radius: 50%;
  display: inline-block;
  margin-right: 4px;
  margin-left:4px;
  z-index: 1;
}

.dot_5.completed_5{
  background: #7F6C72;
}
.container_five {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  height:100px;
  width: 100px;
  position: relative;
  transform: scale(1);
  grid-area:2/2/3/3;
}
.text_five{
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-family: 'Lato' sans-serif;
  font-size: 36px;
  line-height: 43px;
  z-index: 1;
  grid-area:2/2/3/3;
  text-align: center;
}


.circle_five {
  background-color:rgba(255, 255, 255, 0.85);
  height: 100%;
  width: 100%;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: background-color 4s ease-in-out;
}
.gradient-circle_five {
  height: 120px;
  width: 120px;
  z-index: -2;
  border-radius: 50%;
  position: absolute;
  top: -10px;
  left: -10px;
  background-color:rgba(255, 255, 255, 0.4);
}



/*
  .circle_five.in {
    background-color: #135d07
  }


  .circle_five.out{
    background-color: rgb(240, 242, 240);
  }
 */


  .container_five.grow{
    animation: grow5 5.5s cubic-bezier(0.65, 0.05, 0.36, 1) forwards;

  }


  @keyframes grow5 {
    from {
      transform: scale(1);
    }

    to {
      transform: scale(12);
    }
  }


  .container_five.shrink{
    animation: shrink5 5.5s cubic-bezier(0.65, 0.05, 0.36, 1) forwards;
  }

  @keyframes shrink5 {
    from {
      transform: scale(12);
    }

    to {
      transform: scale(1);
    }
  }
  /* .counter_5{
    font-size: larger;
  } */